body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(110, 110, 255);
    display: flex;
}
.navigation-container{
    width:18%;
    background-color: #0F0F11;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 100px;
    min-width: 70px;
    border-right: 1px solid #1C1C1C;
}
.navigation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}
.logo{
    margin-top:30px;
}
.logo i{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.home-link{
    height: 50px;  
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
    color: #00ADFF;
    border-right: 2px solid #00ADFF;
    margin-top: 20px;
}
.profile-container{
    display: flex;
    justify-content:center;
    align-items: center;

}
.profile{
    background-color: black;
    background-image: url();
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius:50%;
    margin-top: 30px;
    border: 1px solid #979797;
}
.main{
    /*width: 60%;*/
    flex: 1;
    background-color: #0F0F11;
    display: flex;
    flex-direction: column;
}
.tweet-search-container{
    margin: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #979797;

}
.tweet-search-container input{
    flex: 1;
    background-color:transparent;
    border:none;
    font-size:30px;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
}
.tweet-search-container input:focus{
    outline:none;
}
.tweet-search-container i{
    font-size: 30px;
    color: white;
}
.tweets-list{
    height: 500px;
    margin: 20px;
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    
}
.tweet-container{
    height: 100px;
    margin: 10px;
    background-color: seashell;
}
.tweets-sidebar-container{
    background-color: cornflowerblue;
    flex: 1;
    display: flex;
    /* flex-grow: 1; */
}
.tweet-sidebar{
    width: 200px;
    height: 500px;
    margin: 20px;
    background-color: bisque;
}